@import "paletas.css";

* {
  font-family: JetBrainsMono Nerd Font, FontAwesome;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: @color-item-background;
  border-radius: 4px;
}

#workspaces {
  margin: 0px 2px;
  border-color: @color-accent;
  border-style: solid;
  padding: 0px 2px
}

#workspaces button.active {
  color: @color-accent;
  border-top: 1px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 1px;
  border-radius: 3px;
  border-color: @color-accent;
  border-style: solid;
}

#workspaces button {
  color: @color-item-text;
}

#pulseaudio {
  color: @color-item-text;
  padding: 0px 8px;
}

#pulseaudio#microphone {
  color: @color-item-text;
  padding: 0px 8px;
}

#battery {
  color: @color-info;
  padding: 0px 8px;
  font-size: 13px;
}

#custom-ascii {
  color: @color-item-text;
  padding: 0px 8px;
  font-size: 18px;
}

#network {
  color: @color-info;
  padding: 0px 8px;
}

#clock {
  color: @color-item-text;
  padding: 0px 8px;
}

#clock-date {
  color: @color-item-text;
  padding: 0px 8px;
}
