@import "paletas.css";

* {
  font-family: JetBrainsMono Nerd Font, FontAwesome;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: @color-item-background;
  border-radius: 8px;
}

#workspaces {
  background-color: @color-item-background;
  border-radius: 8px;
  margin: 0px 2px;
  padding: 0px 2px
}

/* Workspaces ativos */
#workspaces button.active {
  color: @color-accent;
  border-radius: 1px;
  border-top: 1px;
  border-color: @color-accent;
  border-style: solid;
}

/* Som */
#pulseaudio {
  color: @color-item-text;
  padding: 0px 8px;
}

/* Microfone */
#pulseaudio#microphone {
  color: @color-item-text;
  padding: 0px 8px;
}

/* Bateria */
#battery {
  color: @color-info;
  padding: 0px 8px;
}

/* Custon ASCII */
#custom-ascii {
  color: @color-item-text;
  padding: 0px 8px;
}

/* Rede */
#network {
  color: @color-info;
  padding: 0px 8px;
}

/* Relógio */
#clock {
  color: @color-item-text;
  padding: 0px 8px;
}

/* Data */
#clock-date {
  color: @color-item-text;
  padding: 0px 8px;
}
